/* || Body
 *************************/
body {
    background-color: var(--yellow);

    font-family: var(--fingtree);
}

/* || Main
 *************************/
main {
    padding: 0 1.5rem;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 432px) {
    main {
        padding: 0;
    }
}