/* Colors
 ******************************/
/* Primary
 ***************/
/* Global Variables
 ******************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #F4D04E;
  font-family: "Figtree";
}

picture {
  display: flex;
}

/* Body Variables
 ******************************/
main {
  padding: 0 24px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .blog-preview-card {
  padding: 24px;
  max-width: 384px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #111111;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blog-preview-card .blog-logo {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.blog-preview-card .blog-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.blog-preview-card .blog-author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.blog-text-content .category {
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #F4D04E;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.5;
  color: #111111;
}
.blog-text-content .publish-date {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}
.blog-text-content .title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5;
  color: #111111;
}
.blog-text-content .description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #7F7F7F;
}

.blog-author .author-name {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.5;
  color: #111111;
}

@media only screen and (min-width: 432px) {
  main {
    padding: 0;
  }
  main .blog-preview-card {
    box-shadow: 8px 8px 0px #111111;
  }

  .blog-text-content .publish-date {
    font-size: 14px;
  }
  .blog-text-content .title {
    font-size: 24px;
  }
  .blog-text-content .description {
    font-size: 16px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .blog-preview-card {
    transition: box-shadow 0.5s ease-out;
  }
  .blog-preview-card:hover {
    box-shadow: 16px 16px 0 #111111;
  }

  .blog-text-content .title {
    transition: color 0.5s ease-out;
  }
  .blog-text-content .title:hover {
    cursor: pointer;
    color: #F4D04E;
  }
}